# --- For-Bot-Working --------- #
pyrofork
TgCrypto
motor
pyromod
# --- For-Database ------------ #
pymongo
dnspython
# --- For-Web-Response ------- #
aiohttp

python-dotenv
#shortener
cloudscraper

#cache
async-cache

#shortener
shortzy
